* {
    margin: 0;
    padding: 0;
}

.contenido{
    min-height: calc(100vh - 100px - 50px);
}

.color {
    background-color: rgb(36, 141, 202);
}

.colorTexto {
    color: rgb(10, 73, 109);
}

.logoFooter {
    color: rgb(36, 141, 202) !important;
    text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                 0.12rem 0.12rem 0.0rem #1a1919,
                 0.18rem 0.18rem 0.0rem #1a1919,
                 0.24rem 0.24rem 0.10rem #000000;
    font-size: 3em;
}

.logo {
    color: rgb(36, 141, 202) !important;
    text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                 0.12rem 0.12rem 0.10rem #1a1919;
    font-size: 3.3em;
}

.logoSize {
    font-size: 8em;
}

.aLogo{
    width: 5%;
}

.piePagina {
    background-color: black;
    width: 100vw;
    height: 30vh;
    color: white;
}

.logoCanvas {
    color: rgb(36, 141, 202) !important;
    text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                 0.12rem 0.12rem 0.10rem #1a1919;
    font-size: 2em;
}

.imgBadge {
    width: 40%;
    margin-top: 20px;
}

.textoNoticia {
    font-size: 1.45em;
    width: 85%;
}

.imgNoticia {
    width: 85%;
    border-radius: 25px;
}

.imgNoticiaCategoria {
    width: 100%;
}

.tamañoCard {
    width: 20%;
}

.cardNoticiaCategoria {
    display: flex;
    flex-direction: row;
}

.boton-navbar {
    margin-right: 20px;
    color: rgb(36, 141, 202) !important;
    border: 2px solid rgb(36, 141, 202) !important;
}

.navegacion {
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-responsive {
    padding-left: 210px;
}

.fondoContacto{
    background-color: rgb(32, 72, 133);
    border-radius: 15px;
    }
    
.formulario{
    margin-top: 55px;
    padding: 35px;
    border-radius: 15px;
    background-color: rgb(231, 231, 228);
}

.logoModal {
    font-size: 1.25em;
}

.canvasNav {
    padding: 0px 0px;
    margin: 0;
}

.mainPrincipal {
    width: 70%;
    display: inline-block;
}

.asidePrincipal {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.covidImg2 {
    width: 26vw;
    height: 35vh;
    margin-top: 70px;
}

.imgCovid, .imgPrime {
    width: 26vw;
    margin-top: 70px;
}

.fondoClima {
    background-color: rgb(205, 205, 206);
    padding: 20px;
    margin-bottom: 15px;
}

.cardPrincipal {
    width: 27%;
}

.fondoNosotros{
    background-color: rgb(47, 47, 47);
}

.imagenNosotros {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50%;
}

.logoAdm {
    color: rgb(36, 141, 202) !important;
    text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                 0.12rem 0.12rem 0.0rem #1a1919,
                 0.18rem 0.18rem 0.0rem #1a1919,
                 0.24rem 0.24rem 0.10rem #000000;
    font-size: 2em;
}

@media all and (min-width: 320px) and (max-width:499px) {
    .imgNoticia {
        width: 95%;
        border-radius: 15px;
    }

    .textoNoticia {
        font-size: 1.2em;
        width: 92%;
    }

    .listaNoticia {
        padding-left: 20px;
        width: 40%;
    }

    .cardNoticiaCategoria {
        display: flex;
        flex-direction: column;
    }

    .imgNoticiaCategoria {
        width: 100%;
    }
    
    .tamañoCard {
        width: 80%;
    }

    .logoSize {
        margin-right: 100px;
        font-size: 3em;
    }

    .logoAdm {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }

    .secc {
        position: relative;
        top: 162.5px;
        left: 0;
        height: 7.6vh;
    }

    .logo{
        position: relative;
        top: 0;
        left: 14px;
    }

    .logoCanvas {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }

    .logoModal {
        font-size: 1.25em;
        margin-left: 50px;
    }

    .navegacion {
       padding-bottom: 20px;
    }

    .secciones {
        display: none;
    }

    .navbar-responsive {
        display: flex;
        flex-direction: row;
       padding-left: 0;
    }

    .boton-navbar-1 {
        margin-left: 110px;
        text-align: center;
    }

    .boton-navbar {
       margin-top: 10px;
    }

    .imgBadge {
        width: 70%;
        margin-top: 10px;
    }

    .logoFooter {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }
    
    .piePagina {
        background-color: black;
        margin-top: 50px;
        width: 100%;
        height: 100vh;
        padding: 30px;
        color: white;
    }

    .errorSize {
        width: 100%;
    }

    .principalCelular {
        display: flex;
        flex-direction: column;
    }

    .cardPrincipal {
        width: 80%;
    }

    .imagenMandalorian {
        width: 30vw;
    }

    .covidImg2 {
        width: 38vw;
        height: 15vh;
        margin-top: 600px;
    }
    
    .imgCovid, .imgPrime {
        width: 38vw;
        margin-top: 600px;
    }

    .mainPrincipal {
        width: 60%;
        display: inline-block;
    }
    
    .asidePrincipal {
        width: 35%;
        display: inline-block;
        vertical-align: top;
    }

    .textoPublicidad {
        font-size: 1em;
    }
}

@media all and (min-width: 500px) and (max-width:767px) {
    .logoAdm {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }

    .imgNoticia {
        width: 95%;
        border-radius: 15px;
    }

    .textoNoticia {
        font-size: 1.2em;
        width: 92%;
    }

    .listaNoticia {
        padding-left: 20px;
        width: 40%;
    }

    .cardNoticiaCategoria {
        display: flex;
        flex-direction: column;
    }

    .imgNoticiaCategoria {
        width: 100%;
    }
    
    .tamañoCard {
        width: 80%;
    }

    .logoSize {
        margin-left: 50px;
        font-size: 3.7em;
    }

    .logo{
        position: relative;
        top: 0;
        right: 145px;
    }

    .logoCanvas {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }

    .logoModal {
        font-size: 1.25em;
        margin-left: 50px;
    }

    .navegacion {
       padding-bottom: 20px;
    }

    .secciones {
        display: none;
    }

    .secc {
        position: relative;
        top: 68px;
        left: 0;
        height: 5.7vh;
    }

    .navbar-responsive {
        display: flex;
        flex-direction: row;
       padding-left: 0;
    }

    .boton-navbar-1 {
        margin-left: 110px;
        text-align: center;
    }

    .boton-navbar {
       margin-top: 10px;
    }

    .imgBadge {
        width: 70%;
        margin-top: 10px;
    }

    .logoFooter {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }
    
    .piePagina {
        background-color: black;
        margin-top: 50px;
        width: 100%;
        height: 100vh;
        padding: 30px;
        color: white;
    }

    .errorSize {
        width: 100%;
    }

    .principalCelular {
        display: flex;
        flex-direction: column;
    }

    .cardPrincipal {
        width: 80%;
    }

    .imagenMandalorian {
        width: 30vw;
    }

    .covidImg2 {
        width: 38vw;
        height: 15vh;
        margin-top: 600px;
    }
    
    .imgCovid, .imgPrime {
        width: 38vw;
        margin-top: 600px;
    }

    .mainPrincipal {
        width: 60%;
        display: inline-block;
    }
    
    .asidePrincipal {
        width: 35%;
        display: inline-block;
        vertical-align: top;
    }

    .textoPublicidad {
        font-size: 1em;
    }
}

@media all and (min-width: 768px) and (max-width:1080px) {
    .imgNoticiaCategoria {
        width: 100%;
    }

    .logoAdm {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }

    .mandalorian {
        width: 50%;
    }

    .textoPublicidad {
        font-size: 1em;
    }
    
    .tamañoCard {
        width: 45%;
    }

    .cardNoticiaCategoria {
        display: flex;
        flex-direction: row;
    }

    .logo {
        margin-left: 80px;
    }

    .boton-navbar {
        margin-right: 10px;
    }

    .navbar-responsive {
        padding-left: 55px;
        display: flex;
        flex-direction: row;
    }
    
    .logoSize {
        margin-left: 10px;
        font-size: 5.5em;
    }

    .imgBadge {
        width: 70%;
        margin-top: 10px;
    }

    .logoFooter {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }

    .logoCanvas {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.10rem #000000;
        font-size: 2em;
    }
    
    .errorSize {
        width: 100%;
    }

    .principalCelular {
        display: flex;
        flex-direction: column;
    }

    .cardPrincipal {
        width: 80%;
    }

    .imagenMandalorian {
        width: 30vw;
    }

    .covidImg2 {
        width: 38vw;
        height: 15vh;
        margin-top: 600px;
    }
    
    .imgCovid, .imgPrime {
        width: 38vw;
        margin-top: 600px;
    }

    .mainPrincipal {
        width: 60%;
        display: inline-block;
    }
    
    .asidePrincipal {
        width: 35%;
        display: inline-block;
        vertical-align: top;
    }

    .textoPublicidad {
        font-size: 1em;
    }

    .logoModal {
        font-size: 1.25em;
        margin-left: 5px;
    }
}