* {
    margin: 0;
    padding: 0;
}

.contenido{
    min-height: calc(100vh - 100px - 50px);
}

.color {
    background-color: rgb(36, 141, 202);
}

.colorTexto {
    color: rgb(10, 73, 109);
}

.logoFooter {
    color: rgb(36, 141, 202) !important;
    text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                 0.12rem 0.12rem 0.0rem #1a1919,
                 0.18rem 0.18rem 0.0rem #1a1919,
                 0.24rem 0.24rem 0.18rem #000000;
    font-size: 3em;
}

.logo {
    color: rgb(36, 141, 202) !important;
    text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                 0.12rem 0.12rem 0.0rem #1a1919,
                 0.18rem 0.18rem 0.0rem #1a1919,
                 0.24rem 0.24rem 0.18rem #000000;
    font-size: 2em;
}

.logoSize {
    font-size: 8em;
}

.aLogo{
    width: 5%;
}

.piePagina {
    background-color: black;
    margin-top: 50px;
    width: 100%;
    height: 30vh;
    padding: 30px;
    color: white;
}

.imgBadge {
    width: 40%;
    margin-top: 20px;
}

.textoNoticia {
    font-size: 1.45em;
    width: 85%;
}

.imgNoticia {
    width: 85%;
    border-radius: 25px;
}

.imgNoticiaCategoria {
    width: 100%;
}

.tamañoCard {
    width: 20%;
}

.cardNoticiaCategoria {
    display: flex;
    flex-direction: row;
}

.boton-navbar {
    margin-right: 20px;
}

.navegacion {
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-responsive {
    padding-left: 210px;
}

.fondoContacto{
    background-color: rgb(32, 72, 133);
    border-radius: 15px;
    }
    
.formulario{
    margin-top: 55px;
    padding: 35px;
    border-radius: 15px;
    background-color: rgb(231, 231, 228);
}

@media all and (min-width: 360px) and (max-width:767px) {
    
    .imgNoticia {
        width: 95%;
        border-radius: 15px;
    }

    .textoNoticia {
        font-size: 1.2em;
        width: 92%;
    }

    .listaNoticia {
        padding-left: 20px;
        width: 40%;
    }

    .cardNoticiaCategoria {
        display: flex;
        flex-direction: column;
    }

    .imgNoticiaCategoria {
        width: 100%;
    }
    
    .tamañoCard {
        width: 80%;
    }

    .logoSize {
        margin-left: 50px;
        font-size: 3.7em;
    }

    .logo{
        position: relative;
        top: 0;
        right: 35px;
    }

    .navegacion {
       padding-top: 20px;
       padding-bottom: 20px;
    }

    .secciones {
        display: none;
    }

    .secc {
        position: relative;
        top: 70px;
        left: 0;
        height: 9.5vh;
    }

    .navbar-responsive {
        display: flex;
        flex-direction: row;
       padding-left: 0;
    }

    .boton-navbar-1 {
        margin-left: 110px;
        text-align: center;
    }

    .boton-navbar {
       margin-top: 10px;
    }

    .imgBadge {
        width: 70%;
        margin-top: 10px;
    }

    .logoFooter {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.18rem #000000;
        font-size: 2em;
    }
    
    .piePagina {
        background-color: black;
        margin-top: 50px;
        width: 100%;
        height: 100vh;
        padding: 30px;
        color: white;
    }
}

@media all and (min-width: 768px) and (max-width:1080px) {
    .imgNoticiaCategoria {
        width: 100%;
    }
    
    .tamañoCard {
        width: 100%;
    }

    .cardNoticiaCategoria {
        display: flex;
        flex-direction: row;
    }

    .logo {
        margin-left: 140px;
    }

    .boton-navbar {
        margin-right: 10px;
    }

    .navbar-responsive {
        padding-left: 100px;
        display: flex;
        flex-direction: row;
    }
    
    .logoSize {
        margin-left: 10px;
        font-size: 5.5em;
    }

    .imgBadge {
        width: 70%;
        margin-top: 10px;
    }

    .logoFooter {
        color: rgb(36, 141, 202) !important;
        text-shadow: 0.06rem 0.06rem 0.0rem #1a1919,
                     0.12rem 0.12rem 0.0rem #1a1919,
                     0.18rem 0.18rem 0.0rem #1a1919,
                     0.24rem 0.24rem 0.18rem #000000;
        font-size: 2em;
    }
}